
h1 {
    text-align: center;
    font-weight: bold;
    color: saddlebrown;
}

.book-list {
    text-align: left;
    padding: 15px;
}

.buttons {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
}

.checkout-button {
    padding: 5px;
}

.remove-button {
    padding: 5px;
}

.btn-danger {
    width: 200px;
}

.btn-success {
    width: 200px;
}
