.PageContent {
    display: grid;
    grid-template-areas:
       /*Heading*/
        "b c ." /*Name, id, dateborrowed*/
        "e f g" /*TEXTBOXES*/
        ". h ." /*returnables TITLE*/
        "i . ." /*borrowed books DROPDOWN (with add/remove option)*/
        ". j ." /*returning books TITLE*/
        "k k k"; /*returning books SELECTED*/
        /*Return button*/
        min-height: 68vh;
}
 

/*HEADING*/

.PageWidth {
    width: 70vw;
}

label {
    font-size: 25px;
}

#PatronName {
    text-align: end;
    margin-right: 10vw;
}


.searchText {
    height: 40px;
    width: 200px;
    font-size: 15px;
}


/*SEARCH TITLES*/
#searchName {
    grid-area: b;
}
#searchID {
    grid-area: c;
}
#SearchDateBorrowed {
    grid-area: d;
}

/*TEXTBOXS*/
#searchNameTextbox {
    grid-area: e;
}
#searchIDTextbox {
    grid-area: f;
}
#searchDateTextbox {
    grid-area: g;
}

/*DROP DOWN LIST TITLE*/
#returnableBooksTitle {
    grid-area: h;
}

/*DROP DOWN LIST*/
.borrowedBooks {
    grid-area: i;
    width: 45vw; /*s*/
    align-content:start;
}

/*RETURNING SELECTED*/
#returningBooksTitle {
    grid-area: j;
    font-size: 20px;
}
/* */
#returningBooks {
    grid-area: k;
    font-size: 15px;
}

/*CONFIRM RETURNS*/
.date {
    margin-top: 28vh;
}

.btn-select {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
.add-remove
{
    width: 100px;
}


.confirm-btn {
    font-size: larger;
    font-weight: bold;
    /*width: 10vw;*/
}
