.PageContent[b-rx6mp3gxvh] {
    display: grid;
    grid-template-areas:
       /*Heading*/
        "b c ." /*Name, id, dateborrowed*/
        "e f g" /*TEXTBOXES*/
        ". h ." /*returnables TITLE*/
        "i . ." /*borrowed books DROPDOWN (with add/remove option)*/
        ". j ." /*returning books TITLE*/
        "k k k"; /*returning books SELECTED*/
        /*Return button*/
        min-height: 68vh;
}
 

/*HEADING*/

.PageWidth[b-rx6mp3gxvh] {
    width: 70vw;
}

label[b-rx6mp3gxvh] {
    font-size: 25px;
}

#PatronName[b-rx6mp3gxvh] {
    text-align: end;
    margin-right: 10vw;
}


.searchText[b-rx6mp3gxvh] {
    height: 40px;
    width: 200px;
    font-size: 15px;
}


/*SEARCH TITLES*/
#searchName[b-rx6mp3gxvh] {
    grid-area: b;
}
#searchID[b-rx6mp3gxvh] {
    grid-area: c;
}
#SearchDateBorrowed[b-rx6mp3gxvh] {
    grid-area: d;
}

/*TEXTBOXS*/
#searchNameTextbox[b-rx6mp3gxvh] {
    grid-area: e;
}
#searchIDTextbox[b-rx6mp3gxvh] {
    grid-area: f;
}
#searchDateTextbox[b-rx6mp3gxvh] {
    grid-area: g;
}

/*DROP DOWN LIST TITLE*/
#returnableBooksTitle[b-rx6mp3gxvh] {
    grid-area: h;
}

/*DROP DOWN LIST*/
.borrowedBooks[b-rx6mp3gxvh] {
    grid-area: i;
    width: 45vw; /*s*/
    align-content:start;
}

/*RETURNING SELECTED*/
#returningBooksTitle[b-rx6mp3gxvh] {
    grid-area: j;
    font-size: 20px;
}
/* */
#returningBooks[b-rx6mp3gxvh] {
    grid-area: k;
    font-size: 15px;
}

/*CONFIRM RETURNS*/
.date[b-rx6mp3gxvh] {
    margin-top: 28vh;
}

.btn-select[b-rx6mp3gxvh] {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
.add-remove[b-rx6mp3gxvh]
{
    width: 100px;
}


.confirm-btn[b-rx6mp3gxvh] {
    font-size: larger;
    font-weight: bold;
    /*width: 10vw;*/
}
