
h1[b-s4cb1e1xy0] {
    text-align: center;
    font-weight: bold;
    color: saddlebrown;
}

.book-list[b-s4cb1e1xy0] {
    text-align: left;
    padding: 15px;
}

.buttons[b-s4cb1e1xy0] {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
}

.checkout-button[b-s4cb1e1xy0] {
    padding: 5px;
}

.remove-button[b-s4cb1e1xy0] {
    padding: 5px;
}

.btn-danger[b-s4cb1e1xy0] {
    width: 200px;
}

.btn-success[b-s4cb1e1xy0] {
    width: 200px;
}
