.PageContent[b-rx6mp3gxvh] {
    display: grid;
    grid-template-areas:
       /*Heading*/
        "b c ." 
        "e f g" 
        ". h ." 
        "i . ." 
        ". j ." 
        "k k k"; 
        /*Return button*/
        min-height: 68vh;
}
 

/*HEADING*/

.PageWidth[b-rx6mp3gxvh] {
    width: 70vw;
}

label[b-rx6mp3gxvh] {
    font-size: 25px;
}

#PatronName[b-rx6mp3gxvh] {
    text-align: end;
    margin-right: 10vw;
}


.searchText[b-rx6mp3gxvh] {
    height: 40px;
    width: 200px;
    font-size: 15px;
}



#searchName[b-rx6mp3gxvh] {
    grid-area: b;
}
#searchID[b-rx6mp3gxvh] {
    grid-area: c;
}
#SearchDateBorrowed[b-rx6mp3gxvh] {
    grid-area: d;
}


#searchNameTextbox[b-rx6mp3gxvh] {
    grid-area: e;
}
#searchIDTextbox[b-rx6mp3gxvh] {
    grid-area: f;
}
#searchDateTextbox[b-rx6mp3gxvh] {
    grid-area: g;
}


#returnableBooksTitle[b-rx6mp3gxvh] {
    grid-area: h;
}


.borrowedBooks[b-rx6mp3gxvh] {
    grid-area: i;
    width: 45vw; 
    align-content:start;
}


#returningBooksTitle[b-rx6mp3gxvh] {
    grid-area: j;
    font-size: 20px;
}

#returningBooks[b-rx6mp3gxvh] {
    grid-area: k;
    font-size: 15px;
}


.date[b-rx6mp3gxvh] {
    margin-top: 28vh;
}

.btn-select[b-rx6mp3gxvh] {

}
.add-remove[b-rx6mp3gxvh]
{
    width: 100px;
}


.confirm-btn[b-rx6mp3gxvh] {
    font-size: larger;
    font-weight: bold;
    
}
