@using DaVinci.Data
@page "/"

<h1><b>DAVINCI</b></h1>

<h4>Welcome to DaVinci Library Management System.</h4>

<p style="font-size:x-large" id="Welcome">
    <div class="Welcome">
        This library management system provides a very systematic collection of books to browse from a range of genres.
        In this system, the user can browse for books, borrow them and return them as per their convenience.
        Thanks for visiting!
    </div>
</p>

<p class="Login">Log In</p>
<div class="IDLogIn">
    <input class="LoginControl" type="text" id="UserID" placeholder="User ID" @bind="@username">
    <input class="LoginControl" type="password" id="Password" placeholder="Password" @bind="@password">
    <button class="btn btn-primary" id="button" @onclick="LoginMatch">
        Submit
    </button>
</div>

<p>Savreet</p>


@code{
    public string username;
    public string password;

    //creating an object of the login manager class
    LoginManager lm = new LoginManager();

    //method to save the user entered username in the username variable
    private void SaveUsername(ChangeEventArgs x)
    {
        username = x.Value.ToString();
    }

    //method to save the user entered password in the password variable
    private void SavePassword(ChangeEventArgs x)
    {
        password = x.Value.ToString();
    }

    //creates a list of matching logins
    private List<Login> matchingLogins;

    
    private void LoginMatch()
    {
        if (string.IsNullOrEmpty(username) || string.IsNullOrEmpty(password))
        {
            App.Current.MainPage.DisplayAlert("Error", "Please enter a username and password", "OK");
            return;
        }

        try
        {
            matchingLogins = LoginManager.FindMatchingLogins(username, password);

            if (matchingLogins.Count == 0)
            {
                App.Current.MainPage.DisplayAlert("Invalid", "Username or password is incorrect", "Continue");
            }
        }
        catch (InvalidLoginException ex)
        {
            App.Current.MainPage.DisplayAlert("Invalid", "Hello", "Continue");
        }
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

