body[b-2ruu949qwt] {
    width: auto;
    color: rgb(255, 243, 230);
}

.IDBorrow[b-2ruu949qwt] {
    display: flex;
}

.input[b-2ruu949qwt],
.confirm[b-2ruu949qwt],
.password[b-2ruu949qwt] {
    text-align: center;
}

.passwordBorrow[b-2ruu949qwt] {
    text-align: center;
}