/* /Pages/Books.razor.rz.scp.css */
h1[b-1ibn5ma9rl] {
    text-align: center;
    font-weight: bold;
    color: saddlebrown;
    padding-bottom: 30px;
}

.menu-options[b-1ibn5ma9rl] {
    font-size: 24px;
    font-weight: bolder;
    color: olive;
}

.search-menu[b-1ibn5ma9rl] {
    margin: auto;
}

/* SEARCH BY TITLE STYLING */
.search-section[b-1ibn5ma9rl] {
    display: block;
    align-items: center;
    padding-bottom: 30px;
}

.search-label[b-1ibn5ma9rl], .book-selection-label[b-1ibn5ma9rl], .matching-books-label[b-1ibn5ma9rl] {
    font-size: 16px;
    padding-bottom: 10px;
    font-style: italic;
    font-weight: bold;
}

.search-input[b-1ibn5ma9rl] {
    width: 450px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: 1px solid black;
}

/* SEARCH BY OTHER STYLING */
.search-selection[b-1ibn5ma9rl] {
    display: block;
    padding-bottom: 50px;
}

.select-menus[b-1ibn5ma9rl] {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-right: 100px;
}

select[b-1ibn5ma9rl] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

/* SEARCH BUTTON STYLING*/
.btn[b-1ibn5ma9rl] {
    width: 200px;
    background-color: burlywood;
    color: saddlebrown;
    border: none;
    font-weight: 600;
}

.search-button[b-1ibn5ma9rl] {
    display: flex;
    justify-content: flex-start;
}

/* MATCHING BOOKS STYLING */

.matching-books-list[b-1ibn5ma9rl] {
    padding-top: 30px;
}

.book-list-options[b-1ibn5ma9rl] {
    width: 450px;
}

.book-list-options[b-1ibn5ma9rl] {
    display: block;
}

/* DISPLAY BOOK DETAILS */

.book-details[b-1ibn5ma9rl] {
    padding-top: 30px;
}

h2[b-1ibn5ma9rl] {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    color: darkolivegreen;
}
/* /Pages/BorrowBook.razor.rz.scp.css */

h1[b-s4cb1e1xy0] {
    text-align: center;
    font-weight: bold;
    color: saddlebrown;
}

.book-list[b-s4cb1e1xy0] {
    text-align: left;
    padding: 15px;
}

.buttons[b-s4cb1e1xy0] {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
}

.checkout-button[b-s4cb1e1xy0] {
    padding: 5px;
}

.remove-button[b-s4cb1e1xy0] {
    padding: 5px;
}

.btn-danger[b-s4cb1e1xy0] {
    width: 200px;
}

.btn-success[b-s4cb1e1xy0] {
    width: 200px;
}
/* /Pages/Index.razor.rz.scp.css */
h1[b-4stccs1ol8] {
    text-align: center;
    font-weight: bold;
    color: saddlebrown;
}

h4[b-4stccs1ol8] {
    text-align: center;
}

.Welcome[b-4stccs1ol8]{
    font-size: 16px;
}

.Login[b-4stccs1ol8]{
    font-size: 20px;
    text-align: center;
}
input[b-4stccs1ol8] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
}


.btn-success[b-4stccs1ol8] {
    display: flex;
    padding: 5px 50px 5px 50px;
    margin: auto;
    background-color: burlywood;
    color: saddlebrown;
    border: none;
    font-weight: 600;
}
/* /Pages/ReturnBook.razor.rz.scp.css */
.PageContent[b-rx6mp3gxvh] {
    display: grid;
    grid-template-areas:
       /*Heading*/
        "b c ." /*Name, id, dateborrowed*/
        "e f g" /*TEXTBOXES*/
        ". h ." /*returnables TITLE*/
        "i . ." /*borrowed books DROPDOWN (with add/remove option)*/
        ". j ." /*returning books TITLE*/
        "k k k"; /*returning books SELECTED*/
        /*Return button*/
        min-height: 68vh;
}
 

/*HEADING*/

.PageWidth[b-rx6mp3gxvh] {
    width: 70vw;
}

label[b-rx6mp3gxvh] {
    font-size: 25px;
}

#PatronName[b-rx6mp3gxvh] {
    text-align: end;
    margin-right: 10vw;
}


.searchText[b-rx6mp3gxvh] {
    height: 40px;
    width: 200px;
    font-size: 15px;
}


/*SEARCH TITLES*/
#searchName[b-rx6mp3gxvh] {
    grid-area: b;
}
#searchID[b-rx6mp3gxvh] {
    grid-area: c;
}
#SearchDateBorrowed[b-rx6mp3gxvh] {
    grid-area: d;
}

/*TEXTBOXS*/
#searchNameTextbox[b-rx6mp3gxvh] {
    grid-area: e;
}
#searchIDTextbox[b-rx6mp3gxvh] {
    grid-area: f;
}
#searchDateTextbox[b-rx6mp3gxvh] {
    grid-area: g;
}

/*DROP DOWN LIST TITLE*/
#returnableBooksTitle[b-rx6mp3gxvh] {
    grid-area: h;
}

/*DROP DOWN LIST*/
.borrowedBooks[b-rx6mp3gxvh] {
    grid-area: i;
    width: 45vw; /*s*/
    align-content:start;
}

/*RETURNING SELECTED*/
#returningBooksTitle[b-rx6mp3gxvh] {
    grid-area: j;
    font-size: 20px;
}
/* */
#returningBooks[b-rx6mp3gxvh] {
    grid-area: k;
    font-size: 15px;
}

/*CONFIRM RETURNS*/
.date[b-rx6mp3gxvh] {
    margin-top: 28vh;
}

.btn-select[b-rx6mp3gxvh] {
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}
.add-remove[b-rx6mp3gxvh]
{
    width: 100px;
}


.confirm-btn[b-rx6mp3gxvh] {
    font-size: larger;
    font-weight: bold;
    /*width: 10vw;*/
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-vl2wlzyxy8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vl2wlzyxy8] {
    flex: 1;
}

.sidebar[b-vl2wlzyxy8] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vl2wlzyxy8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-vl2wlzyxy8]  a, .top-row[b-vl2wlzyxy8]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-vl2wlzyxy8]  a:hover, .top-row[b-vl2wlzyxy8]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-vl2wlzyxy8]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-vl2wlzyxy8] {
        display: none;
    }

    .top-row.auth[b-vl2wlzyxy8] {
        justify-content: space-between;
    }

    .top-row[b-vl2wlzyxy8]  a, .top-row[b-vl2wlzyxy8]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vl2wlzyxy8] {
        flex-direction: row;
    }

    .sidebar[b-vl2wlzyxy8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vl2wlzyxy8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-vl2wlzyxy8], article[b-vl2wlzyxy8] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-adw1ihtwun] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-adw1ihtwun] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-adw1ihtwun] {
    font-size: 1.1rem;
}

.oi[b-adw1ihtwun] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-adw1ihtwun] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-adw1ihtwun] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-adw1ihtwun] {
        padding-bottom: 1rem;
    }

    .nav-item[b-adw1ihtwun]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-adw1ihtwun]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-adw1ihtwun]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-adw1ihtwun] {
        display: none;
    }

    .collapse[b-adw1ihtwun] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

